<template>
    <header>
        <div class="container">
            <div class="top-nav">
                <router-link
                    v-for="link in links"
                    :key="link.id"
                    tag="a"
                    active-class="active"
                    :to="link.url"
                    :exact="link.exact"
                >
                    <img :src="getImageUrl($route.path, link)" />

                    {{link.title}}
                </router-link>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        name: 'HeaderBar',
        data() {
            return {
                links: [
                    {id:1, title: 'Практика', url: '/', icon_active: 'V_active.png', icon_disactive: 'V_disactive.png', exact: true},
                    {id:2, title: 'Статистика', url: '/statistics', icon_active: 'icon-progress_active.png', icon_disactive: 'icon-progress_disactive.png'},
                    {id:3, title: '', url: '/options', icon_active: 'btn-settings_active.png', icon_disactive: 'btn-settings_disactive.png'}
                ]
            };
        },
        methods: {
            getImageUrl(e, item) {
                if (e == item.url) {
                    return require('@/images/' + item.icon_active);
                } else {
                    return require('@/images/' + item.icon_disactive);
                }
            }
        }
    };
</script>