<template>
    <div>
        <header-bar/>

        <div class="head-content">
            <div class="container">
                <div class="text">
                    <h1>Асаны</h1>
                    <p>Выберите любимый комплекс, выполните асаны и отметьте практику свайпом слайдера вправо</p>
                </div>
                <div class="img">
                    <div class="main-img"></div>
                </div>
            </div>
        </div>

        <div class="items">
            <div class="container">
                <div class="tabs">
                    <a v-on:click="activetab=1" v-bind:class="[activetab === 1 ? 'active' : '']">Для начинающих</a>
                    <a v-on:click="activetab=2" v-bind:class="[activetab === 2 ? 'active' : '']">Для продолжающих</a>
                    <a v-on:click="activetab=3" v-bind:class="[activetab === 3 ? 'active' : '']">На растяжку</a>
                </div>

                <div class="items-content">
                    <div v-if="activetab === 1" class="tabcontent new-items">
                        <div class="item" 
                            v-for="item of items"
                        >
                            <img :src="getImageUrl(item.img)" />
                            
                            <div class="body">
                                <div class="time">{{item.time}}</div>
                                <p>{{item.content}}</p>
                            </div>
                        </div>

                        <div class="item-block" 
                            v-for="item of items_block"
                        >
                            <img :src="getImageUrl(item.img)" />

                            <div class="body">
                                <div class="time"><img :src="item.icon" />{{item.time}}</div>
                                <p>{{item.content}}</p>
                            </div>
                        </div>
                    </div>

                    <div v-if="activetab === 2" class="tabcontent">
                        <p>Экран 2</p>
                        <div class="item" 
                            v-for="item of items"
                        >
                            <img :src="getImageUrl(item.img)" />
                            <div class="body">
                                <div class="time">{{item.time}}</div>
                                <p>{{item.content}}</p>
                            </div>
                        </div>
                    </div>
                    <div v-if="activetab === 3" class="tabcontent">
                        <p>Экран 3</p>
                    </div>
                </div>
            </div>
        </div>

        <footer-bar/>

        <div :class="'swipe' + (active === true ? '-active swipe' : '')">
            <drag-it-dude
                id="dragitdude"
                :min-width="335"
                :parent-width="335" 
                :parent-height="54"
                @dropped="handleDropped()"
            >
                <div class="btn-swipe"
                    @click="handleDropped()"
                >
                    <div class="img"></div>
                </div>
            </drag-it-dude>
            <div class="text">Отметить практику</div>
        </div>
    </div>
</template>

<script>
    import HeaderBar from '@/components/Header.vue';
    import FooterBar from '@/components/Footer.vue';
    import DragItDude from "vue-drag-it-dude";

    import icon_block from '@/images/block.png';

    export default {
        name: 'Home',
        components: {
            HeaderBar,
            FooterBar ,
            DragItDude
        },
        data() {
            return {
                activetab: 1,
                items: [
                    {content: 'Комплекс асан на баланс', time: '30 мин', img: '32.png'},
                    {content: 'Комплекс и Разбор асаны: Кармасана', time: '30 мин', img: '32.png'},
                    {content: 'Комплекс асан на баланс (12 видео)', time: '30 мин', img: '32.png'},
                ],
                items_block: [
                    {content: 'Йога мудра, Дирга пранам Бхуджангасана', time: '3', img: '32.png', icon: icon_block},
                    {content: 'Разбор асаны: Кармасана', time: '5', img: '32.png', icon: icon_block}
                ],
                active: false
            };
        },
        methods: {
            handleDropped() {
                this.active = !this.active;

                if (this.active) {
                    document.getElementById('dragitdude').setAttribute("style", "left:279px");
                } else {
                    document.getElementById('dragitdude').setAttribute("style", "left:0px");
                }
            },
            getImageUrl(img) {
                return require('@/images/' + img);
            }
        }
    };
</script>
<style></style>