@import "~normalize.css";
@import "../css/fonts.css";

$bg: #eceff0;
$border-bottom: #c3cbce;
$border-right: #fff;
$item-nav: #334856;
$bg-active: #fff;
$border-active: #46D444;
$border-tab: #c3cbce;
$tab-color: #334856;
$item-text: #334856;
$bg-item-active: #fff;
$item-disactive: #c3cbce;

$regular-font: 'sfuidisplay', sans-serif;
$bold-font: 'sfuidisplay', sans-serif;

* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    font-family: $regular-font;
    background-color: $bg;
    margin:0 auto;
}

.container {
    margin:0 auto;
    min-width:375px;
    width:100%;
}

header {
    width: 100%;
    min-width:375px;
    height:82px;
    background-color: $bg;
    position: fixed;
    margin:0 auto;
    z-index:9999999;

    .container {
        .top-nav {
            display:flex;
            justify-content: space-between;
            width: 100%;
            border-bottom:3px solid $border-bottom;
            background: linear-gradient(#fefefe, #f6f6f6);

            a {
                display:flex;
                justify-content: center;
                padding: 21px 21px 21px 21px;
                font-weight: 600;
                font-size: 16px;
                text-decoration: none;
                border-right: 1px solid $border-right;
                color:$item-disactive;
                width: 100%;


                img {
                    margin-right:10px;
                    margin-top:-5px;
                    width:22px;
                    height:22px;
                }
            }

            a:last-child {
                border-right: none;
            }

            a.active {
                background-color:$bg-active;
                color: #334856;
                font-weight: 600;
                border-bottom:3px solid $border-active;
                margin-bottom: -3px;
            }

            a:first-child img {
                margin-right:10px;
                margin-top:0px;
                width:19px;
                height:14px;
            }
        }
    }
}

.head-content {
    height:200px;
    width:100%;
    min-width:375px;
    margin:0 auto;
    height:100%;

    .container {
        display: flex;
        justify-content: white-space;
        width:100%;
        min-width:375px;
        padding-top: 82px;
        margin:0;
        height:310px;

        .text {
            margin-left:18px;
            min-width:166px;
            width:50%;
            height:143px;

            h1 {
                font-size:26px;
                font-weight: 600;
            }

            p {
                font-size:14px;
                line-height: 1.5;
            }
        }

        .img {
            margin:0;
            padding:0;
            overflow: hidden;
            margin-left:-50px;

            .main-img {
                background: url('../images/main-img.png') no-repeat;
                margin-top:-15px;
                width:270px;
                height:270px;
                outline:none;
            }
        }
    }

    @media only screen and (min-width: 481px) {
        .container {
            display: flex;
            justify-content: center;
            width:100%;
        }
    }
}

@media only screen and (min-width: 481px) {
    .head-content {
        display: flex;
        justify-content: center;
        max-width:480px;
        margin:0 auto;
    }
}

.items {
    width:100%;
    min-width:375px;
    height:100%;

    .container {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .tabs {
            min-width:480px;
            padding-left: 20px;
            margin-bottom: -2px;
            display:flex;
            flex-wrap: nowrap;

            a {
                cursor: pointer;
                padding: 10px 12px;
                transition: background-color 0.2s;
                border-top: 2px solid $border-tab;
                border-left: 2px solid $border-tab;
                border-right: none;
                background-color: $bg;
                border-radius: 10px 10px 0 0;
                font-weight: bold;
                text-transform: uppercase;
                font-size:12px;
                color:$tab-color;
                outline:none;
                min-width:163px;
                text-align:center;
            }

            a:last-child { 
                border-right: 2px solid $border-tab;
            }

            a:hover {
                background-color: $bg-item-active;
                color:$tab-color;
            }

            a.active {
                background-color: $bg-item-active;
                color: $tab-color;
                border-bottom: 2px solid #fff;
                margin-bottom:-1px;
                z-index:999999;

                cursor: default;
                font-size:12px;
            }
        }

        .items-content {
            display: flex;
            justify-content: center;
            margin:0 auto;
            width:100%;
            background: linear-gradient(#fefefe, #eceff0);
            border-top: 2px solid $border-tab;

            .tabcontent {
                padding: 30px 0;

                .item {
                    background-color: #fff;
                    border-radius: 10px;
                    width:340px;
                    height:86px;
                    padding:7px;
                    box-shadow: 3px 3px 6px #e1e1e1;
                    margin-bottom:12px;
                    display:flex;
                    flex-direction: row;
                    overflow: hidden;

                    .body {
                        display:flex;
                        flex-direction: column;

                        p {
                            padding:10px 15px;
                            font-size:14px;
                            font-weight: 600;
                            color:$item-text;
                            max-height:65px;
                            width:205px;
                            max-width:205px;
                        }

                        .time {
                            background-color:#C3CBCE;
                            color:#fff;
                            border-radius: 0px 10px 0px;
                            margin-top:-7px;
                            margin-right:-8px;
                            font-size:10px;
                            width:50px;
                            height:15px;
                            text-align: center;
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            align-self: flex-end;
                        }
                    }
                }

                .item-block {
                    background-color: #E8E9EA;
                    border:1px solid #C3CBCE;
                    border-radius: 10px;
                    width:340px;
                    height:86px;
                    padding:7px;
                    margin-bottom:12px;
                    display:flex;
                    flex-direction: row;
                    overflow: hidden;

                    .body {
                        display:flex;
                        flex-direction: column;

                        p {
                            padding:10px 15px;
                            font-size:14px;
                            font-weight: 600;
                            color:#707070;
                            max-height:58px;
                            max-width:199px;
                            display:flex;
                            justify-content: center;
                            align-items: flex-top;
                        }

                        .time {
                            background-color:#C3CBCE;
                            color:#fff;
                            border-radius: 0px 10px 0px;
                            margin-top:-8px;
                            margin-right:-15px;
                            font-size:10px;
                            width:42px;
                            min-height:20px;
                            text-align: center;
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            align-self: flex-end;

                            img {
                                margin-right:5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 481px) {
    .items {
        .container {
            display: flex;
            justify-content: center;
            max-width:480px;
            margin:0 auto;
        }
    }
}

footer {
    width: 100%;
    min-width:375px;
    height:62px;
    background: linear-gradient(#fefefe, #eceff0);
    margin:0 auto;
}

.swipe {
    display: flex;
    justify-content: white-space;
    margin:0 auto;
    position: fixed;
    bottom: 2%;
    height:58px;
    max-width:339px;
    min-width:339px;
    background-color: #C3CBCE;
    border-radius: 50px; 
    border:2px solid #fff;
    margin:0 25px;
    margin-bottom:80px;

    .drag-it-dude {
        left:0px;

        .btn-swipe {
            outline:none;
            border-radius: 50%;
            background-color:#fff;
            height:50px;
            width:52px;
            margin:2px;
            display:flex;
            justify-content: center;
            align-items: center;

            .img {
                background: url('../images/check.png') no-repeat;
                width:20px;
                height:15px;
                outline:none;
                display:flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .text {
        font-size:28px;
        text-transform: uppercase;
        color:#fff;
        font-size:18px;
        display:flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width:100%;
    }
}

.swipe-active {
    background-color: #46D444;

    .drag-it-dude {
        left:279px;
    }
}